<a href="#/index">Back</a>

<div id="popupDialog" title="Set a target">
  <p>
    <label for="widgetName">Please input a target:</label>
  </p>
  <p>
    Target: <input type="text" id="target" />
  </p>
</div>