<h1>Listing entries</h1>

<table id="entries-table">
  <tr>
    <th>Value</th>
    <th>Date</th>
    <th>Goal</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Entry</a>