<h1>Edit target</h1>

<form id="edit-target" name="target">
  <div class="field">
    <label for="value"> value:</label>
    <input type="text" name="value" id="value" value="<%= value %>" >
  </div>

  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value="<%= date %>" >
  </div>

  <div class="field">
    <label for="goal_id"> goal_id:</label>
    <input type="text" name="goal_id" id="goal_id" value="<%= goal_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Target" />
  </div>

</form>

<a href="#/index">Back</a>